<div class="w-full flex flex-col h-[90vh] overflow-y-auto">
    <div class="flex flex-col gap-3">
        <!-- Large heading -->
        <div class="flex flex-col h-[400px] md:h-[500px] items-center justify-center lg:h-[600px] gap-3">
            <div class="text-4xl lg:text-6xl text-center text-white">
                <p>We serve, </p>
                <p class="my-3">What you crave</p>
            </div>
        </div>

        <div class="flex items-center flex-col lg:h-[600px] gap-3 mx-12 md:mx-32 lg:mx-52 dashboard-bg">
            <!-- Products -->
            <div>
                <div class="text-2xl font-bold text-white my-10">Our products</div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pb-12">
                    <div class="border border-gray-400 rounded-md p-3">
                        <img src="https://images.pexels.com/photos/1252195/pexels-photo-1252195.jpeg"
                            class="product-image rounded-md" alt="Coffee">
                        <p class="text-white mt-3 ">Coffee black</p>
                    </div>
                    <div class="border border-gray-400 rounded-md p-3">
                        <img src="https://img.freepik.com/free-photo/freshly-brewed-cappuccino-with-frothy-milk-chocolate-wooden-table-generated-by-artificial-intelligence_188544-84779.jpg"
                            class="product-image rounded-md" alt="Coffee">
                        <p class="text-white mt-3 ">Caremal coffee</p>
                    </div>
                    <div class="border border-gray-400 rounded-md p-3">
                        <img src="https://img.freepik.com/free-photo/steamy-black-coffee-rustic-wooden-mug-generated-by-ai_188544-13429.jpg"
                            class="product-image rounded-md" alt="Coffee">
                        <p class="text-white mt-3 ">Chai</p>
                    </div>
                    <div class="border border-gray-400 rounded-md p-3">
                        <img src="https://img.freepik.com/premium-photo/cup-coffee-chocolate-cookies_288431-1101.jpg"
                            class="product-image rounded-md" alt="Coffee">
                        <p class="text-white mt-3 ">Double Choco Chip</p>
                    </div>
                    <div class="border border-gray-400 rounded-md p-3">
                        <img src="https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg"
                            class="product-image rounded-md" alt="Coffee">
                        <p class="text-white mt-3 ">Mocha</p>
                    </div>
                    <div class="border border-gray-400 rounded-md p-3">
                        <img src="https://images.pexels.com/photos/1638280/pexels-photo-1638280.jpeg"
                            class="product-image rounded-md" alt="Coffee">
                        <p class="text-white mt-3 ">Green tea</p>
                    </div>
                    <div class="border border-gray-400 rounded-md p-3">
                        <img src="https://images.pexels.com/photos/3151766/pexels-photo-3151766.jpeg"
                            class="product-image rounded-md" alt="Coffee">
                        <p class="text-white mt-3 ">Vanilla</p>
                    </div>
                </div>
            </div>

            <!-- About us -->
            <div class="flex items-center flex-col lg:h-[500px] gap-3">
                <p class="text-2xl font-bold text-white">About Us</p>
                <div class="flex flex-col md:flex-row mt-4 mb-24 items-start justify-center gap-4 text-gray-200 mx-10">
                    Welcome to CoffeeCo! Located in Gandhinagar, we're dedicated to delivering exceptional coffee
                    experiences. Our cozy space offers a haven for coffee lovers, where each cup is expertly brewed and
                    served
                    with passion. From our signature blends to specialty brews, we source the finest beans for your
                    enjoyment.
                    Whether you're seeking a moment of relaxation or a spot to fuel your creativity, our welcoming
                    atmosphere
                    awaits. Join us and become part of our vibrant community, where every sip is a journey of flavor and
                    every
                    visit leaves you refreshed. Welcome to CoffeeCo – your home for unforgettable coffee moments.
                </div>
            </div>
        </div>
    </div>
</div>