<div class="login-form">
    <div class="alert-alert-success" *ngIf="response?.success === true" role="alert">{{response?.message}}</div>
    <div class="alert-alert-danger" *ngIf="response?.success === false" role="alert">{{response?.message}}</div>
    <form>
        <h1>Please enter email</h1>
        <div class="form-group mt-2">
            <label for="exampleInputEmail1">Email</label>
            <input class="form-control mt-1" id="exampleInputEmail1" [formControl]="email" type="email"
                aria-describedby="emailHelp" placeholder="Enter email" />
        </div>
        <div>
            <button class="btn btn-primary mt-2" type="button" (click)="sendEmail()">Send email</button>
        </div>
    </form>
</div>